# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="3010"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary
WHITE_LIST_URLS="http://localhost:4020,http://localhost:4030" # Allowed CORS origin, adjust as necessary
ALLOW_ALL_ORIGINS="true" # Allow all origins (true/false)

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Session Configuration
JWT_SECRET="myjwtsecret"            # Secret for JWT token

# Database Configuration
DB_HOST="localhost"                # Database host
DB_PORT="27017"                   # Database port
DB_USER="myuser"                  # Database user
DB_PASS="mypassword"              # Database password
DB_NAME="mydatabase"              # Database name

# OTHER VARS
FRONTEND_URL="http://localhost:4020"   # Frontend URL
